<script lang="ts">
  import { writable } from "svelte/store";

  import Typeahead from "svelte-typeahead";
  import { createEventDispatcher, onMount } from "svelte";
  import type { City } from "./types";

  import { printCity } from "./utils";
  import { selectedCity } from "./stores";

  // Comment this out and uncomment the dummy data to prevent language server lag.
  import cities from "cities.json";

  // const cities: City[] = [
  //   {
  //     country: "AD",
  //     name: "Sant Julià de Lòria",
  //     lat: "42.46372",
  //     lng: "1.49129",
  //   },
  //   {
  //     country: "AD",
  //     name: "Pas de la Casa",
  //     lat: "42.54277",
  //     lng: "1.73361",
  //   },
  //   {
  //     country: "AD",
  //     name: "Ordino",
  //     lat: "42.55623",
  //     lng: "1.53319",
  //   },
  //   {
  //     country: "AD",
  //     name: "les Escaldes",
  //     lat: "42.50729",
  //     lng: "1.53414",
  //   },
  // ];

  const cityInput = writable<string>("");

  onMount(async () => {
    const storedCity = await selectedCity.load();
    if (storedCity) {
      cityInput.set(printCity(storedCity));
      emit("city", storedCity);
    }
  });

  const extract = (city: City) => printCity(city);

  const emit = createEventDispatcher();
</script>

<div class="flex flex-col align-baseline justify-center gap-2">
  <Typeahead
    focusAfterSelect
    showDropdownOnFocus
    data={cities}
    limit={5}
    {extract}
    let:result
    bind:value={$cityInput}
    on:select={({ detail }) => {
      cityInput.set(printCity(detail.original));
      selectedCity.set(detail.original);
    }}
    on:keydown={(event) => {
      if (event.key === "Enter" && $selectedCity) {
        emit("city", $selectedCity);
      }
    }}
    label="Enter a Location:">
    {result.original.name}, {result.original.country}
  </Typeahead>
  <button
    class="p-2 font-semibold text-lg bg-slate-300 rounded-md h-1/2 hover:bg-slate-200 active:bg-slate-400"
    on:click={() => emit("city", $selectedCity)}
    >Fetch Weather Info
  </button>
</div>
