<script lang="ts">
  export let windSpeed: number;
  export let humidity: number;
  export let pressure: number;
  export let sunrise: number;
  export let sunset: number;
</script>

<div>
  <div class="label">Wind Speed</div>
  <div class="text-lg font-semibold">{windSpeed} m/s</div>
</div>
<div>
  <div class="label">Humidity</div>
  <div class="text-lg font-semibold">{humidity}%</div>
</div>
<div>
  <div class="label">Pressure</div>
  <div class="text-lg font-semibold">{pressure} hPa</div>
</div>
<div>
  <div class="label">Sunrise</div>
  <div class="text-lg font-semibold">
    {new Date(sunrise * 1000).toLocaleTimeString(undefined, {
      hour: "2-digit",
      minute: "2-digit",
    })}
  </div>
</div>
<div>
  <div class="label">Sunset</div>
  <div class="text-lg font-semibold">
    {new Date(sunset * 1000).toLocaleTimeString(undefined, {
      hour: "2-digit",
      minute: "2-digit",
    })}
  </div>
</div>

<style lang="postcss">
  .label {
    @apply text-base font-normal;
  }
</style>
