<script lang="ts">
  import { persistent } from "$lib/persistentStore";
  import type { City, OpenWeatherCurrentResponse } from "$lib/types";
  import { printCity } from "$lib/utils";
  import { crossfade, slide } from "svelte/transition";
  import AdditionalCurrentWeather from "./AdditionalCurrentWeather.svelte";
  import Temperature from "./Temperature.svelte";
  import {
    firstIcon,
    firstMain,
    humidity,
    pressure,
    sunrise,
    sunset,
    temp,
    todayHigh,
    todayLow,
    windSpeed,
  } from "./transformers";

  import WeatherIcon from "./WeatherIcon.svelte";

  const [send, receive] = crossfade({
    duration: 200,
    fallback: (node) =>
      slide(node, {
        duration: 200,
      }),
  });

  export let weatherData: {
    currentWeatherResponse: OpenWeatherCurrentResponse;
    location: City;
  };

  const show = persistent("showAdditionalCurrentWeather", false);
</script>

<div class="relative {$show ? 'mb-24' : 'mb-8'}">
  <div class="current {$show ? 'rounded-t-lg' : 'rounded-lg'}">
    <div class="row-span-2 place-self-center">
      <WeatherIcon
        icon={firstIcon(weatherData.currentWeatherResponse.current)} />
    </div>
    <div class="text-2xl justify-self-start">
      {firstMain(weatherData.currentWeatherResponse.current)}
    </div>

    <div class="col-span-3">
      <Temperature temp={temp(weatherData.currentWeatherResponse.current)} />
    </div>

    <div class="text-md justify-self-start">
      {printCity(weatherData.location)}
    </div>

    <Temperature temp={todayLow(weatherData.currentWeatherResponse)} small />
    <div class="text-lg font-bold self-baseline">/</div>
    <Temperature temp={todayHigh(weatherData.currentWeatherResponse)} small />
  </div>
  <div class="w-full absolute flex flex-col place-items-center">
    {#if $show}
      <div
        in:send={{ key: "more" }}
        out:receive={{ key: "more" }}
        class="col-span-full flex justify-center items-center gap-4 -top-4 bg-slate-300 p-2 pt-4 relative  rounded-b-lg w-full text-center">
        <AdditionalCurrentWeather
          windSpeed={windSpeed(weatherData.currentWeatherResponse.current)}
          humidity={humidity(weatherData.currentWeatherResponse.current)}
          pressure={pressure(weatherData.currentWeatherResponse.current)}
          sunrise={sunrise(weatherData.currentWeatherResponse.current)}
          sunset={sunset(weatherData.currentWeatherResponse.current)} />
      </div>
      <button
        in:send={{ key: "btn", duration: 80 }}
        out:receive={{ key: "btn", duration: 80 }}
        on:click={() => ($show = false)}
        class="rounded-b-md relative -top-4 p-2 w-32 bg-slate-300"
        >Less...</button>
    {/if}
  </div>
  <div class="flex w-full absolute justify-center mb-2">
    {#if !$show}
      <button
        in:send={{ key: "btn" }}
        out:receive={{ key: "btn" }}
        on:click={() => ($show = true)}
        class="rounded-b-md p-2 -top-2 w-32 bg-slate-300 relative"
        >More...</button>
    {/if}
  </div>
</div>

<style lang="postcss">
  .current {
    @apply grid box-content justify-items-center bg-slate-300 pt-4 pb-2 w-full;
    grid-template-columns: 5em 14em 4em 0.1em 4em;
    grid-template-rows: 2em 2em;
    transition: border-radius 0s ease-in-out 0.2s;
  }
</style>
