<script lang="ts">
  import type { DailyWeatherData, HistoricalWeatherData } from "$lib/types";
  import { printDay, printNumericDate } from "$lib/utils";
  import Temperature from "./Temperature.svelte";
  import { firstIcon, firstMain, temp } from "./transformers";
  import WeatherIcon from "./WeatherIcon.svelte";

  export let dayData: HistoricalWeatherData | DailyWeatherData;
</script>

<div class="relative flex-col flex w-24 place-items-center gap-1">
  <div class="font-semibold">
    {printNumericDate(dayData.dt)}
  </div>
  <div class="font-semibold">
    {printDay(dayData.dt)}
  </div>
  <div>
    <WeatherIcon icon={firstIcon(dayData)} />
  </div>

  <div>
    <Temperature temp={temp(dayData)} />
  </div>

  <div class="text-xl">
    {firstMain(dayData)}
  </div>
</div>
