<script lang="ts">
  import { kToC, kToF } from "$lib/utils";
  import { writable } from "svelte/store";

  export let temp: number;
  export let small = false;

  const hovered = writable(false);
</script>

<div
  class="{small
    ? 'text-lg'
    : 'text-3xl'} flex gap-2 font-semibold relative w-full justify-center"
  on:mouseenter={() => ($hovered = true)}
  on:mouseleave={() => ($hovered = false)}>
  {#if $hovered}
    <div class="flex absolute justify-center w-full">
      <div
        class="bg-gray-800 p-2 rounded-md text-white opacity-90 font-semibold {small
          ? 'text-sm'
          : 'text-lg'} relative m-auto -top-10">
        {kToF(temp).toFixed(1)}°F
      </div>
    </div>
  {/if}
  <div>{kToC(temp).toFixed(1)}°C</div>
</div>
