<script lang="ts">
  export let icon: string;
</script>

<div>
  <img
    class="max-w-full max-h-full"
    src="https://openweathermap.org/img/wn/{icon}.png"
    alt="Weather Icon" />
</div>

<style>
  div {
    object-fit: contain;
  }
</style>
