<script lang="ts">
  import type { DailyWeatherData, HistoricalWeatherData } from "$lib/types";
  import DayWeather from "./DayWeather.svelte";

  export let dailyData: HistoricalWeatherData[] | DailyWeatherData[];
  export let header: string;
</script>

<div class="relative bg-slate-300 rounded-md p-2 m-2 mt-4">
  <div class="font-semibold text-2xl text-center mb-2">{header}</div>
  <div class="flex flex-wrap">
    {#each dailyData as day, i (day.dt)}
      {#if i > 0}
        <DayWeather dayData={day} />
      {/if}
    {/each}
  </div>
</div>
