<script lang="ts">
  import CitySelector from "$lib/CitySelector.svelte";
  import type { AppState, City } from "$lib/types";
  import { writable } from "svelte/store";

  import { fetchCityWeather } from "$lib/fetch";
  import CurrentWeather from "$lib/weather-data/CurrentWeather.svelte";
  import { either as E } from "fp-ts";
  import WeekWeather from "$lib/weather-data/WeekWeather.svelte";

  const appState = writable<AppState | null>(null);

  const errorMessage = writable<string | null>(null);

  const loading = writable(false);

  const handleCity = async (event: CustomEvent<City>) => {
    $loading = true;
    console.log(event.detail);
    if (event.detail === null) {
      errorMessage.set("Please select a city.");
      return;
    }
    const result = await fetchCityWeather(event.detail);

    if (E.isLeft(result)) {
      errorMessage.set(result.left.message);
      console.error(result.left);
    } else {
      errorMessage.set(null);
      appState.set({
        currentWeatherResponse: result.right.current,
        historicalWeatherResponse: result.right.recent,
        location: event.detail,
      });
      $loading = false;
    }
  };
</script>

<svelte:head>
  <title>TinkerList Technical Assignment - Eoin Bathurst</title>
</svelte:head>
<div class="flex justify-center flex-col">
  <div class="panel gap-2">
    <div
      class="flex justify-center items-center flex-col bg-slate-300 p-2 rounded-lg mb-4">
      <h1 class="text-lg font-bold">TinkerList Technical Assignment</h1>
      <h4>Eoin Bathurst</h4>
    </div>

    <CitySelector on:city={handleCity} />
  </div>

  <div class="panel relative">
    {#if $appState}
      <div
        class="{$loading || $errorMessage
          ? 'blur-lg'
          : ''} flex justify-center items-center flex-col m-2 relative">
        <CurrentWeather weatherData={$appState} />

        <WeekWeather
          dailyData={$appState.currentWeatherResponse.daily}
          header="Forecast" />
        <WeekWeather
          dailyData={$appState.historicalWeatherResponse.flatMap(
            (day) => day.data
          )}
          header="Recent" />
      </div>
    {/if}
    <div class="absolute w-full flex place-content-center">
      {#if $errorMessage}
        <div
          class="flex justify-center items-center gap-2 bg-red-300 p-2 rounded-lg mb-4">
          <h1 class="text-lg font-bold">Error:</h1>
          <h4>{$errorMessage}</h4>
        </div>
      {:else if $loading}
        <div
          class="flex justify-center items-center gap-2 bg-slate-500 p-2 rounded-lg mb-4 text-white">
          <h1 class="text-lg font-bold">Loading...</h1>
        </div>
      {/if}
    </div>
  </div>
</div>

<style lang="postcss">
  .panel {
    @apply flex justify-center items-center flex-col m-2;
    min-height: 2.5em;
  }
</style>
